@charset "UTF-8";

@font-face {
	font-family: NotoSansKR;
	src: url(../../font/NotoSansKR-VariableFont_wght.ttf);
}

html, body {
	height: 100%;
	margin: 0;
	font-family: NotoSansKR;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 70vh;
	margin: 0;
	flex-direction: column;
	justify-content: space-between;
	font-family: NotoSansKR;
}

.subject {
	font-size: 2.5rem;
	font-weight: 500;
	line-height: 1.58;
	letter-spacing: -0.03125rem;
	padding-top: 0.75rem !important;
	margin-bottom: 32px;
	margin-left: 10px;
}

@media screen and ( max-width : 1800px) {
	.content {
		width: 60%;
		height: 120vh;
		padding-left: 45px;
		padding-right: 45px;
		margin: 0 auto;
	}
}

.content {
	width: 60%;
	height: 80vh;
	padding-left: 45px;
	padding-right: 45px;
	margin: 0 auto;
}

@media screen and (max-width: 1600px) {
	.total {
		height: 120vh;
	}
}

@media screen and (max-width: 600px) {
	.total {
		height: 99%;
	}
	.donOnO {
		width: 300px;
	}
}

.total {
	/* margin: 0 auto; */
	position: relative;
	/* width: 100%; */
	padding-top: 6%;
	display: flex;
	min-height: 84vh;
	font-family: NotoSansKR;
	width: 87%;
	flex-direction: column;
	margin-left: 13%;
}

.card__image--주거공간 {
	background-image: url("../../img/request/주거공간.jpg");
}

.card__image--상업공간 {
	background-image: url(../../img/request/상업공간.jpg);
}

.card__image--아파트 {
	background-image: url(../../img/request/아파트.jpg);
}

.card__image--원룸\2F오피스텔 {
	background-image: url(../../img/request/연립.jpg);
}

.card__image--cl00 {
	background-image: url(../../img/request/연립.jpg);
}

.card__image--cl006 {
	background-image: url(../img/club/volun.jpg);
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.btn {
	background-color: white;
	border: 1px solid gray;
	color: gray;
	/*   color: var(--gray-dark); */
	border-radius: 30px;
	padding: 0.3rem;
	text-transform: lowercase;
	margin: 4%;
	width: 5%;
}

.btn:hover {
	border: 1px solid black;
	color: black;
}

.btn--block {
	display: block;
	width: 51%;
}

.cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0px;
	width: 100%;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}

.options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0px;
	width: 100%;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}

.cards__item {
	width: 100%;
	/*   height: 100px; 높이 조정 */
	/* 	padding: 60px; */
}

.cards__item_option {
	width: 100%;
	height: 80%;
	/*   height: 100px; 높이 조정 */
	/* 	padding: 60px; */
}

.card {
	background-color: white;
	border-radius: 0.25rem;
	flex-direction: column;
	overflow: hidden;
	margin: 10px;
	flex-direction: column;
}

.card:hover .card__image {
	filter: contrast(100%);
}

.card__image {
	height: 370px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: contrast(20%);
	overflow: hidden;
	position: relative;
	transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
	content: "";
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.card__content {
	font-family: NotoSansKR;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 2rem;
	align-items: center;
	text-align: center;
}

.card__box {
	height: 100px;
	line-height: 30px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: contrast(20%);
	overflow: hidden;
	position: relative;
	transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
	content: "";
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

#option {
	height: 100px;
	line-height: 30px;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: contrast(20%);
	overflow: hidden;
	position: relative;
	transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
	content: "";
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
}

.card__content {
	font-family: NotoSansKR;
	flex: 1 1 auto;
	flex-direction: column;
	padding: 2rem;
	align-items: center;
	text-align: center;
}

.popup-wrap {
	background-color: rgba(0, 0, 0, .3);
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 12%;
	right: 0;
	bottom: 0;
	display: none;
	padding: 15px;
}

.popup {
	width: 100%;
	max-width: 60%;
	background-color: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	background-color: rgb(19, 151, 213);
	box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

.popup-head {
	width: 100%;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.head-title {
	font-size: 38px;
	font-weight: 700;
	letter-spacing: -3px;
	text-align: center;
}

.popup-body {
	width: 100%;
	background-color: #ffffff;
}

.body-content {
	width: 100%;
	height: 210px;
	font-weight: 600;
	text-align: center;
	font-weight: 600;
}

.body-titlebox {
	text-align: center;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
}

.body-contentbox_content {
	word-break: break-word;
	font-size: 120%;
	overflow-y: auto;
	padding: 5px;
	padding-top: 20px;
	justify-content: center;
	line-height: 50px;
	margin-bottom: 40px;
	min-height: 50px;
	max-height: 100px;
	min-height: 50px;
	justify-content: center;
}

.body-contentbox_member {
	word-break: break-word;
	font-size: 100%;
	overflow-y: auto;
	padding: 5px;
	justify-content: center;
	line-height: 30px;
	min-height: 30px;
	max-height: 50px;
}

.body-contentbox_info {
	margin-top: 10px;
	margin-bottom: 20px;
	color: red;
}

.popup-foot {
	width: 100%;
	height: 50px;
}

.pop-btn {
	display: inline-flex;
	width: 49%;
	height: 100%;
	float: left;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	cursor: pointer;
}

.pop-btn.confirm {
	border-right: 1px solid #3b5fbf;
}

.confirm_modal {
	margin-left: 12%;
}

@media screen and (max-width: 900px) {
	.body-content {
		overflow-y: auto;
	}
	.card__title {
		font-size: 1rem;
	}
}

.card__title {
	font-size: 1.3rem;
}

.top {
	margin-left: 13%;
	display: flex;
	height: 50px;
	width: 87%;
	justify-content: flex-start;
	flex-direction: column;
	align-content: space-around;
	float: right;
	margin-top: 10px;
}

.gosu_btn {
	color: inherit;
	font-family: NotoSansKR;
	line-height: inherit;
	border-radius: 6px;
	background: white;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 120%;
	border: 1px solid rgb(147, 191, 169);
	width: 85px;
	color: rgb(147, 191, 169);
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 20px;
}

.gosu_btn:hover {
	color: white;
	background: rgb(147, 191, 169);
}

#progress {
	position: relative;
	margin-bottom: 17px;
	appearance: none;
	display: block;
	width: 100%;
	margin-top: 10px;
}

#progress::-webkit-progress-bar {
	background: #f0f0f0;
	border: 1px solid #eeeeee;
	height: 5px;
	width: 100%;
	overflow: hidden;
}

#progress::-webkit-progress-value {
	background: RGB(218, 164, 32);
	border-radius: 0px;
	height: 28px;
	width: 48px;
}

.exit {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

.ok_btn {
	margin: 0 auto;
	cursor: pointer;
	justify-content: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 40%;
	height: 48px;
	outline: none;
	border: none;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0.25px;
	color: rgb(255, 255, 255);
	background-color: rgb(80, 119, 113);
	bottom: 200px;
	left: 13%;
	right: 0;
}

.ok_btn:hover {
	background: gray;
}

.btn_box {
	position: absolute;
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	margin-top: 8%;
	bottom: 120px;
	margin: 0 auto;
	align-content: space-between;
	flex-wrap: wrap;
}

.myCheckbox, .myCheckbox1, .myCheckbox2 {
	display: none;
}

.adress_api {
	position: relative;
	width: 100%;
}

.box_card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 0px;
}

.box_card2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

h2 {
	margin-bottom: 0px;
}

.main_sub {
	text-align: center;
	display: flex;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
}

.adress_api {
	position: relative;
	width: 100%;
	margin: auto;
	/* padding-left: 25%; */
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

#sample6_postcode {
	width: 600px;
}

input {
	font-family: NotoSansKR;
	width: 600px;
	height: 52px;
	font-size: 1.3em;
	border: 0;
	border-radius: 15px;
	outline: none;
	padding-left: 10px;
	border: 1px solid rgb(233, 233, 233);
	margin-bottom: 15px;
	left: 50%;
}

.address_btn {
	width: 170px;
}

input[type=text]:focus {
	border: 3px solid #555;
}

.exp {
	padding: 20px;
	background-color: rgb(250, 250, 250);
	margin-top: 20px;
	border-radius: 5px;
	width: 85%;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 15px;
}

.exp_1 {
	padding: 10px;
	background-color: rgb(250, 250, 250);
	margin-top: 20px;
	border-radius: 5px;
	width: 55%;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 15px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: center;
	align-items: center;
	height: 50px;
	text-align: center;
}

.last_box {
	display: flex;
	flex-direction: column;
}

.last_box_inner {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.unit {
	margin-left: 10px;
	color: rgb(26, 26, 26);
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
}

.user_input input, .auto_input input {
	width: 200px !important;
}

.last_box_inner {
	margin-bottom: 20px;
}

.material-symbols-outlined {
	margin-left: 20px;
	margin-right: 20px;
}

.budget_box {
    width: 600px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    margin-bottom: 30px;
    margin: 0 auto;
}

.budget_inner {
  display: flex;
    width: 250px;
    justify-content: center;

    flex-direction: column;
    flex-wrap: nowrap;
align-items: stretch
}

.budget_inner_option{
	  display: flex;
    width: 100%;
    justify-content: center;
    ma: ;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
}

#bud {
	margin-bottom: 0px !important;
	width: 250px !important;

}

.eAkweW {
	color: rgb(255, 118, 49);
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
}

#unitId {
	margin: 0 auto;
}

#result_budget {
	text-align: right;
	margin-top: 8px;
	    height: 40px;
}

.unit_money {
	margin-bottom: 25px;
	margin-left: 10px;
	color: rgb(26, 26, 26);
	font-size: 18px;
	line-height: 22px;
	font-weight: 500;
	margin-top: 20px;
}

.kuxWUg {
	color: rgb(26, 26, 26);
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.bTUUoF {
	position: relative;
	width: 64%;
	height: 130px;
	border: 1px solid rgb(190, 190, 190);
	border-radius: 5px;
	resize: none;
	box-sizing: border-box;
	padding: 12px 15px;
	font-family: Pretendard;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin: 0 auto;
}

.donOnO {
	position: relative;
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
	width: 64%;
	/* padding-left: 500px; */
	text-align: left;
	text-align: right;
	-webkit-box-pack: center;
	/* justify-content: center; */
	/* -webkit-box-align: center; */
	/* flex-wrap: nowrap; */
	align-content: space-between;
	margin: 0 auto;
}

.eAkweW {
	color: rgb(255, 118, 49);
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
}

.kTtyyx {
	display: flex;
}

.budget_box_cho {
	position: relative;
	width: 100%;
	/* display: flex; */
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
}

.myCheckboxNull {
	transform: scale(0.3);
	width: 40px;
	margin: 25px;
}