<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.CompanyDAO">


	<select id="selectdetailAll"
		resultType="com.myweb.www.domain.CompanyDTO">
		select c.id as id,
		m.user_nm,
		c.lat as lat ,
		c.lng as lng ,
		m.address as address ,
		c.phone as phone ,
		c.profile_quotepage,
		f.save_dir as save_dir,
		f.file_name as file_name
		from member m,
		company c ,
		file f
		where 1=1
		and m.type = TRUE
		and m.id = c.id
		and c.id = f.id
	</select>

	<select id="getCvo" resultType="com.myweb.www.domain.CompanyVO">
		select * from company where
		id=#{id}
	</select>

</mapper>