<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.DepartmentDAO">
	
	<select id="selectDlist"
		resultType="com.myweb.www.domain.DepartmentVO">
		select d.dep_cd, d.dep_nm from department d right join member m on m.dep_cd = d.dep_cd
		<include refid="search"></include>
		limit #{pageStart}, #{qty}
	</select>
	
	<sql id="search">
		<if test="type != null">
			<trim prefix="where" prefixOverrides="or">
				<foreach collection="typeToArray" item="typed">
					<trim prefix="or">
						<choose>
							<when test="typed =='n'.toString()">
								emp_nm like concat('%',#{keyword},'%')
							</when>
							<when test="typed =='i'.toString()">
								id like concat('%',#{keyword},'%')
							</when>
							<when test="typed =='a'.toString()">
								addr like concat('%',#{keyword},'%')
							</when>
							<when test="typed =='d'.toString()">
								dep_cd like concat('%',#{keyword},'%')
							</when>
							<when test="typed =='c'.toString()">
								club_cd like concat('%',#{keyword},'%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
	
</mapper>