@font-face {
	font-family: NotoSansKR;
	src: url(../font/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
	font-family: NotoSansKRSemiBold;
	src: url(../font/NotoSansKR-SemiBold.ttf);
}

.box {
	height: 100%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-content: center;
	font-family: NotoSansKR;
}

h1 {
	font-family: NotoSansKRSemiBold;
	margin-bottom: 24px;
}

.dateP {
	font-size: 16px;
	line-height: 20px;
	color: #656E75;
	margin: 0px;
}

.box2 {
	width: 700px;
}

.portfolioInfo {
	width: 100%;
	display: flex;
	border: 1px solid #eaebef;
	padding: 28px;
	box-sizing: border-box;
	border-radius: 4px;
	margin-top: 40px;
	justify-content: center;
	flex-wrap: wrap;
}

.introductionDiv {
	width: 100%;
	margin-top: 50px;
}

.portfolioInfo p {
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 10px;
}

#hrId {
	color: #eaebef;
}

.span1 {
	color: rgb(197, 197, 197);
	font-size: 14px;
	line-height: 30px;
}

.span2 {
	margin-left: 5px;
	font-size: 14px;
	line-height: 30px;
}

.top {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.leftBox {
	display: flex;
	align-items: flex-end;
}

.left1>img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.left2 {
	margin-left: 9px; display : flex;
	align-items: flex-end;
	flex-direction: column;
	align-items: flex-start;
	display: flex;
}

.left2 p {
	margin: 0px;
}

}
.miniFont {
	font-size: 12px;
}

.heartIcon {
	display: flex;
	align-items: flex-end;
	margin: 0px;
}

.heartIcon * {
	font-size: 16px;
	line-height: 20px;
	color: #656E75;
}
.heartIcon span{
	margin-right: 3px;
}
.topTitle{
	margin-bottom: 20px;
	margin-top: 30px;
}
.colorRed {
	color: red;
}

.mainImgBox {
	width: 100%;
	height: 603px;
}

.portfolioMainImg {
	width: 100%;
	height: 100%;
}
.introductionDiv p>img {
	width: 100%;
} 
.mar{
	margin-right: 8px;
}