@charset "UTF-8";
.area-custom-select {
  position: relative;
  width: 400px;
  height: 150px;
  margin: 50px auto;
}

.custom-select {
  display: inline-block;
  width: 260px;
  height: 48px;
  border: solid 1px #c4ccd8;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  outline: 0px;
}

.select-origin {
  position: absolute;
  right: 10px;
}

.custom-select-text {
  position: absolute;
  top: 14px;
  left: 15px;
}

.custom-select-arrow {
  position: absolute;
  top: 20px;
  right: 15px;
}

.custom-select-list {
  position: absolute;
  font-size: 18px;
  width: 260px;
  height: 96px;
  z-index: 15;
  border: solid 1px #c4ccd8;
  background-color: #ffffff;
  text-align: left;
  margin-top: -3px;
  box-sizing: border-box;
}

.custom-select-option {
  height: 48px;
  line-height: 48px;
  padding-left: 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.custom-select-option:hover {
  color: #ffffff;
  background-color: #1172c4;
  box-sizing: border-box;
}