@charset "UTF-8";



.status_btn{
	    border: hidden;
    background-color: transparent;
    font-family: 'NotoSansKR';
    font-size: 16px;
	
	
	
}


.status_btn:hover{
	 color:rgb(80, 119, 113);
	
	
}